{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-4">
		<h1>
			Quacker</h1>
		{# {{form(form)}} #}
	{{form_start(form)}}
	<div class="form-group">
		{{form_label(form.message)}}
		{{form_widget(form.message)}}
		<div class="form-error">
			{{ form_errors(form.message)}}
		</div>
	</div>
	{# <button type="submit" class="btn btn-primary">Submit</button> #}
    {{form_end(form)}}
	</div>

{% endblock %}

